<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel's Hub</title>
</head>
<body>
    <h2>Enter Details to edit form!</h2>
    <form method="POST" action="/listings/<%= editHoteldata._id %>?_method=PUT">
        <label>Hotel Name:</label>
        <input type="text" value= "<%= editHoteldata.title %>" id ="title" name="ListingsArr[title]"><br>

        <label>Description:</label>
        <textarea name="ListingsArr[description]" id="description" name="description"><%= editHoteldata.description %></textarea> <br></br>

        <label>Price:</label>
        <input type="number" value="<%= editHoteldata.price %>" id ="price" name="ListingsArr[price]"> <br></br>

         <label>location:</label>
        <input type="text"  id ="location" value="<%= editHoteldata.location %>" name="ListingsArr[location]"> <br></br>

         <label>country:</label>
        <input type="text" value="<%= editHoteldata.country %>" id ="country" name="ListingsArr[country]"> <br></br>

        <label>image:</label>
        <input type="text" value="<%= editHoteldata.image  %>" id ="image" name="ListingsArr[image]"> <br></br>

        <button style="background-color: rgb(107, 55, 12); color: azure;">Submit</button>
    </form>
</body>
</html>