<% layout("/layouts/boilerplate.ejs") %>

<body>
     <h3><%= singleData.title %></h3>
     <ul>
        <li><%= singleData.description %></li>
        <li>₹<%= singleData.price.toLocaleString("en-IN") %></li>
        <li><%= singleData.location %></li>
        <li><%= singleData.country %></li>
     </ul>
     <form method="GET" action="/listings/<%=singleData._id%>/edit">
        <button style="background-color: crimson; color: white;">Edit</button>
     </form> <br/>
    <form method="POST" action="/listings/<%=singleData._id%>?_method=DELETE">
        <button style="background-color: red; color: white;">Delete</button>
     </form>

</body>